{{define "weather"}}

<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<body>
{{ if .IsAdmin }}
<h1>Upload</h1>
<form method="post" action="/import/weather" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Upload">
</form>
{{ else }}
<h1>Keine Berechtigung</h1>
<a href="/auth/login">Zum login gehen</a>
{{ end }}
</body>
</html>
{{end}}
