{{define "login"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>llprechner login</title>
</head>
<body>
<h1>llprechner login</h1>
<form method="post" action="/auth/login">
    <label>
        <input type="text" name="username" placeholder="Username">
    </label>
    <label>
        <input type="email" name="email" placeholder="Email">
    </label>
    <label>
        <input type="password" name="password" placeholder="Password">
    </label>
    <input type="submit" value="Login">
</form>
</body>
</html>
{{end}}